#!/bin/bash

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ls='ls --group-directories-first --color'
alias lsl='ls -l --group-directories-first --color'
alias lsla='ls -la --group-directories-first --color'
alias v='vim'
alias n='nvim'
