# Set terminal bell, [none, visible, audible]
set bell-style none

# Set vi mode
set editing-mode vi

# Show current mode in prompt
set show-mode-in-prompt on

set keymap vi-command
# keybindings for normal mode here...

set keymap vi-insert
# keybindings for insert mode here...
"¨": "\e"
