xset s off
xset -dpms

[ -f $HOME/.Xresources ] && xrdb -merge ~/.Xresources
[ -f $HOME/.screenlayout/default.sh ] && source $HOME/.screenlayout/default.sh

setxkbmap -model pc105 -layout no -variant nodeadkeys -option ctrl:nocaps,lv3:lsgt_switch_latch

xmodmap -e "keycode 30 = u U NoSymbol NoSymbol equal"
xmodmap -e "keycode 31 = i I NoSymbol NoSymbol less"
xmodmap -e "keycode 32 = o O NoSymbol NoSymbol greater"
xmodmap -e "keycode 33 = p P NoSymbol NoSymbol slash"
xmodmap -e "keycode 41 = f F NoSymbol NoSymbol BackSpace"
xmodmap -e "keycode 43 = h H NoSymbol NoSymbol numbersign"
xmodmap -e "keycode 44 = j J NoSymbol NoSymbol Escape"
xmodmap -e "keycode 45 = k K NoSymbol NoSymbol quotedbl"
xmodmap -e "keycode 46 = l L NoSymbol NoSymbol apostrophe"
xmodmap -e "keycode 57 = n N NoSymbol NoSymbol dollar"
xmodmap -e "keycode 58 = m M NoSymbol NoSymbol at"
xmodmap -e "keycode 59 = comma semicolon NoSymbol NoSymbol exclam"
xmodmap -e "keycode 60 = period colon NoSymbol NoSymbol percent"
xmodmap -e "keycode 61 = minus underscore NoSymbol NoSymbol ampersand"
