
XTerm*boldColors: false
XTerm*locale: true
XTerm*geometry: 120x40
XTerm*faceName: Source Code Pro Medium:size=16
XTerm*metaSendsEscape: true
XTerm*saveLines: 2000
XTerm*termName: xterm-256color
XTerm*cursorColor: orange
XTerm*cursorBlink: true

URxvt*background: #002b36
URxvt*foreground: #657b83
URxvt*intensityStyles: false
URxvt*geometry: 120x40
URxvt*scrollBar: false
URxvt*saveLines: 2000
URxvt*buffered: true
URxvt*termName: rxvt-256color
URxvt*font: xft:Source Code Pro Medium:size=16

Xft.dpi: 108
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! Solarized dark color scheme
*background:            #002b36
*foreground:            #657b83
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1
*color0:                #073642
*color1:                #dc322f
*color2:                #859900
*color3:                #b58900
*color4:                #268bd2
*color5:                #d33682
*color6:                #2aa198
*color7:                #eee8d5
*color8:                #002b36
*color9:                #cb4b16
*color10:               #586e75
*color11:               #657b83
*color12:               #839496
*color13:               #6c71c4
*color14:               #93a1a1
*color15:               #fdf6e3
